table {
    font-family: Lato;
    margin-top: 20px;
    overflow-y: hidden;
}

th {
    text-align: center;
}

td {
    font-size: 14px;
}

.header {
    text-align: left;
}

.btns {
    border: none;
    background: #fff;
    text-align: center;
}

img {
    width: 70px;
}

.delete {
    width: 5%;
    text-align: center;
}

.fa-trash:hover, .fa-times:hover {
    color: rgb(179, 10, 10);
}

.fa-edit {
    color: #265a88;
}

.fa-edit:hover {
    color: rgb(1, 132, 255);
}

.date {
    width: 10%;
}