.content {
    margin-top: 80px;
}

.post {
    margin-bottom: 10px;
}

.division {
    margin-bottom: 30px;
}

h6 {
    margin-bottom: 0;
}

.row {
    margin-top: 20px;
}

button {
    margin-top: 15px;
}

h1 {
    color: red;
    text-align: center;
    font-weight: 600;
}

img {
    max-width: 100%;
    height: auto;
}