hr {
    margin-top: 0;
}

.form-control {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
}

input[type='file'] {
    margin-bottom: 15px;
    font-size: 12px;
}

#gender {
    margin-bottom: 0;
    font-size: 15px;
}

img {
    width: 100px;
}

select {
    font-size: 14px;
    margin-top: 7px;
}